@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
body {
    background-color: rgb(117, 117, 117);
    font-family: "Roboto", sans-serif;
    /* border-radius: 1px solid blue; */
}
img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    border: 1px solid red;
    height: 100vh;
    display: flex;
}

.side-bar {
    background-color: lightblue;
    flex: 3;
    position: relative;
}

.content-box {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.title-section, .signup-section, .button-section {
    flex: 1;
}

.title-section {
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}
.header-text, .header-subtext {
    margin-left: 100px;
    margin-bottom: 1em;
}

.signup-section {
    background-color: rgb(255, 255, 255);
}

.button-section {
    background-color: rgb(249, 250, 251);
}

form {
    display: flex;
    flex-direction: column;
    margin-left: clamp(50px, 10vw, 250px);
    justify-content: center;
    height: 100%;
    gap: 30px;
    /* border: 1px solid red; */
}

.contact-info, .user-name, .third-row {
    display: flex;
    gap: 70px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    height: clamp(25px, 10vw, 35px);
    width: 300px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(190, 190, 190);
    font-size: 18px;
}

label {
    font-size: 15px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 2px 4px 8px rgba(255, 0, 0, 0.3);
}

#account_password:user-invalid, #confirm_password:user-invalid {
    border: 1px solid red;
}

#account_password:user-valid, #confirm_password:user-valid {
    border: 1px solid green;
}

.image-credits {
    position: absolute;
    bottom: 40px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

a:visited {
    color: white;
}